.categories-list__more-button {
  background: #fff;
  border: none;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.14;
  color: #5375b7;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s linear;
  text-align: left;
}

.categories-list__more-button:hover {
  opacity: .8s;
}
