.filters-by-clarifications__clarification {
  background: #fff3d8;
  border-radius: 3px;
  border: none;
  min-width: 100px;
  min-height: 30px;
  margin: 0 10px 0 0;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  }

.filters__clarification:last-of-type {
  margin-right: 0;
}
