body {
  margin: 0;
}

.root {
  font-family: 'Open Sans', Arial, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
