.filter-by-price__label {
  font-family: Arial;
  font-size: 12px;
  line-height: 1.16;
  color: #a9a9a9;
  margin: 0 9px 0 0;
}

@media screen and (max-width: 1075px) {
  .filter-by-price__label {
    margin: 0 9px 10px 0;
  }
}
