.category-card__link {
  cursor: pointer;
  display: grid;
  grid-template-columns: fit-content(40px) 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  align-items: center;
  transition: scale .2s linear;
  text-decoration: none;
}

.category-card__link:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}
