.search__button_type_close {
  width: 118px;
  border: 1px solid #dedede;
  border-radius: 3px;
  background: #fff;
  margin-left: 10px;
  flex: 0 0 118px;
}

@media screen and (max-width: 768px) {
  .search__button_type_close{
    width: 80px;
  }
}

@media screen and (max-width: 485px) {
  .search__button_type_close {
    display: none;
  }
}

