@import url(./__info/product__info.css);
@import url(./__image/product__image.css);
@import url(./__name/product__name.css);
@import url(./__prices/product__prices.css);
@import url(./__current-price/product__current-price.css);
@import url(./__previous-price/product__previous-price.css);
@import url(./__purchase-button/product__purchase-button.css);

.product {
  list-style: none;
  padding: 0;
  margin: 0;
}
